* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: red;
}

h1 {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 
		-0   -0.06rem 0   #000000,
		 0   -0.06rem 0   #000000,
		-0    0.06rem 0   #000000,
		 0    0.06rem 0   #000000,
		-0.06rem -0   0   #000000,
		 0.06rem -0   0   #000000,
		-0.06rem  0   0   #000000,
		 0.06rem  0   0   #000000,
		-0.06rem -0.06rem 0   #000000,
		 0.06rem -0.06rem 0   #000000,
		-0.06rem  0.06rem 0   #000000,
		 0.06rem  0.06rem 0   #000000,
		-0.06rem -0.06rem 0   #000000,
		 0.06rem -0.06rem 0   #000000,
		-0.06rem  0.06rem 0   #000000,
		 0.06rem  0.06rem 0   #000000;
}

.wrapper {
    padding: 4vw 4vw;
}

.memes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordeon {
    border-radius: 1rem;
    overflow: hidden;
    width: 80vw;
    border: 0.125rem solid #ffffff;
    margin-top: 1vh;
}

.accordeon__item {
    display: flex;
    flex-direction: column;
}

.accordeon__input {
    opacity: 0;
    display: none;
}

.item__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    font-size: 1.2rem;
    background-color: red;
    font-weight: bold;
	color: #FFFFFF;
	text-shadow: 
		-0   -0.06rem 0   #000000,
		 0   -0.06rem 0   #000000,
		-0    0.06rem 0   #000000,
		 0    0.06rem 0   #000000,
		-0.06rem -0   0   #000000,
		 0.06rem -0   0   #000000,
		-0.06rem  0   0   #000000,
		 0.06rem  0   0   #000000,
		-0.06rem -0.06rem 0   #000000,
		 0.06rem -0.06rem 0   #000000,
		-0.06rem  0.06rem 0   #000000,
		 0.06rem  0.06rem 0   #000000,
		-0.06rem -0.06rem 0   #000000,
		 0.06rem -0.06rem 0   #000000,
		-0.06rem  0.06rem 0   #000000,
		 0.06rem  0.06rem 0   #000000;
}

.item__content {
    height: 0;
    overflow: hidden;
    border-top: none;
    transition: all .3s linear;
}

.accordeon__input:checked ~ .item__content{
    height: 80vw;
}

.item__img {
    display: block;
    width: 100%;
}

.item__icon {
    display: block;
    width: 1.2rem;
}

.accordeon__input:checked ~ .item__label  .item__icon{
    transform: rotate(45deg);
}